<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">
                            
                        <b>  email:</b> debscookiedesigns@gmail.com</br>
                        <b>  text:</b>  805-399-0441 </br>
                        <b>  instagram:</b>  @debscookiedesigns  
                     
 </h3>
                
            </div>
              
                     
               
                </div>
           
                
        </div>
    </section>
